<h1 mat-dialog-title>Add New Person</h1>
<div mat-dialog-content>
  <form [formGroup]="personForm">
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input formControlName="surname" matInput placeholder="John">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input formControlName="last_name" matInput placeholder="Doe">
    </mat-form-field>

    <label for="GenderPicker"><h2>Gender</h2></label>
    <mat-radio-group formControlName="gender" id="GenderPicker" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let gender of genderValues" [value]="gender">
        {{gender}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="09/23/2001" formControlName="date_of_birth">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addPerson()">{{actionBtn}}</button>
</div>

<!--<div *ngFor="let gender of genderValues" [value]="gender">-->
